

@media screen and (max-width: 767px){
 
    html{
        font-family: 'Noto Sans KR', sans-serif;
        scroll-behavior: smooth;
    }
    
    header{
        position: fixed;
        z-index: 10000;
        background: white;
        left: 0;
        top: 0;
        width: 100%;
        border-bottom: 1px solid black;
    }
    
    nav{
        /* border: 1px solid red; */
        width: 90%;
    }
    
    .gnb{
        display:flex ;
        /* border: 1px solid blue; */
        justify-content: end;
    }
    
    .gnb>li{
        /* border: 1px solid green; */
        font-size: 3vw;
        font-weight: bold;
        padding: 1% 2%;
    }
    
    
    
    .gnb_on{
        background: black;
        color: white;
    }
    
    /* main */
    
    .simple{
        display: flex;
        height: 100vh;
        /* border: 1px solid blue; */
        width: 100%;
    }
    
    .simple_a{
        background: white;
        width: 50%;
        /* border: 1px solid blue; */
        
    }
    
    .simple_b{
        background: black;
        width: 50%;
        /* border: 1px solid blue; */
    }
    
    .simple_c{
        /* border: 1px solid red; */
        position: relative;
    }
    
    .simple_name{
        position: absolute;
        left: 8%;
        top: 22%;
    
    }
    
    .simple_name_a{
        font-size: 2vw;
        font-weight: bold;
        margin-left: 2%;
    }
    
    .simple_name_b{
        font-weight: bold;
        font-size: 11.7vw;
        line-height: 0.9;
    }
    
    .simple_name_b span{
        color: white;
    }
    
    /* 소개 */
    .intro{
        height: 92vw;
        width: 75%;
        margin: 0 auto;
        /* border: 1px solid red; */
    }
    
    .intro h1{
        font-weight: bold;
        font-size: 15vw;
        margin-top: 17vh;
    }
    
    .intro span{
        margin-right: 8%;
        font-size: 3.6vw;
        font-weight: bold;
    }
    
    .intro p{
        font-size: 5.6vw;
        font-weight: bold;
        margin-top: 3%;
    }
    
    /* 포커스 */
    .focus{
        width: 75%;
        margin: 0 auto;
        /* border: 1px solid red; */
        height: 277vw;
    }
    
    .focus p{
        font-weight: 400;
        font-size: 3.6vw;
        margin-bottom: 30%;
    }
    
    .focus h1{
        font-weight: bold;
        font-size: 15vw;
        line-height: 1;
        margin-top: 10%;
    }
    
    .focus .focus_li{
        /* border: 1px solid blue; */
        margin: 10% 0;
        height: 10%;
        display: flex;
        flex-wrap: wrap;

    
        /* 높이 조절 */
    
    }
    
    .focus_a{
        width: 100%;
        color: white;
        background-color: black;
        border-radius: 10px;
        height: 90vw;
        margin-bottom: 30%
    }
    
    .focus_a h2{
        font-weight: bold;
        font-size: 5.6vw;
        padding-top: 25%;
        padding-left: 13%;
    
    }
    
    .focus_a p{
        font-size:3.6vw;
        font-weight: 400;
        margin-left: 13%;
        width: 72%;
        margin-top: 10vw;
    }
    
    .focus_b{
        width: 100%;
        border: 1px solid black;
        border-radius: 10px;
        height: 90vw;
        margin-bottom: 10%
    }
    
    .focus_b h2{
        font-weight: bold;
        font-size: 5.6vw;
        margin-top: 25%;
        margin-left: 13%;
    }
    
    .focus_b p{
        font-size: 3.6vw;
        font-weight: 400;
        margin-left: 13%;
        width: 72%;
        margin-top: 10vw;
    }
    
    /* skill */
    
    .skill{
        /* border: 1px solid red; */
        width: 75%;
        margin: 0 auto;
        height: 480vw;

    }
    
    .skill p{
        font-weight: 400;
        font-size: 3.6vw;
        margin-bottom: 30%;
        width: 90%;
    }
    .skill h1{
        font-weight: bold;
        font-size: 15.7vw;
        line-height: 1;
        /* width: 75%; */
        padding-top: 30%;
    }
    
    .skill_cop{
        /* border: 1px solid red; */
        width: 88%;
        font-weight: 400;
        font-size: 3.6vw;
        color: white;
        background: black;
        padding: 15% 6%;
        border-radius: 10px;
        margin-bottom: 30%;
    }

    .skill_cop p{
        margin: 0 auto;
    }
    
    .skill_title{
        display: flex;
        align-items: center;
        font-weight: bold;
        font-size: 5.1vw;
        margin-bottom: 6%;
        justify-content: space-around;
    }
    
    .adobe{
        /* display: flex;
        width: 75%;
        height: 6vh;
        justify-content: space-between; */
    }
    
    .vs_cop{
        /* border: 1px solid red; */
        width: 92%;
        font-weight: 400;
        font-size: 3.6vw;
        padding: 6% 4%;
        background: black;
        color: white;
        border-radius: 10px;
        margin-bottom: 30%;
        padding-bottom: 20%;
    }
    
    .vs_cop p{
        margin: 0 auto;
        margin-top: 10%;
    }

    .vs_title{
        display: flex;
        align-items: center;
        font-size: 5.1vw;
        font-weight: bold;
        margin-bottom: 6%;
        margin: 0 auto;
        width: 80%;
    }
    
    
    
    .vs{
        /* display: flex;
        justify-content: space-around; */
        /* height: 10vh; */
        margin-top: 14%;
    }
    
    /* 팝업 */
    
    .popup{
        /* height: 1200vw; */
        background: black;
        color: white;
    }
    .title_pixel{
        width: 75%;
        font-weight: 400;
        font-size: 3.6vw;
        padding-top: 40%;
        margin: 0 auto;
    }
    
    .popup_title{
        /* display: flex; */
        width: 75%;
        margin: 0 auto;
        justify-content: space-between;
        padding-bottom: 9%;
    }
    
    .popup_title h1{
        font-weight: bold;
        font-size: 15.7vw;
        line-height: 1;
    }
    
    .popup_title p{
        font-weight: 400;
        font-size: 3.6vw;
        margin-bottom: 20%;
    }
    
    .popuplist{
        border: 1px solid black;
        border-radius: 30px;
        height: 160vw;
        width: 41.6%;
        margin:0 2% ;
        background: white;
        color: black;
        margin-bottom: 5%;
    }
    
    .popuplist h2{
        font-weight: bold;
        font-size: 8.63vw;
        margin-top: 19%;
        margin-left: 10%;
        line-height: 0.8;
    }
    
    .popuplist span{
        font-weight: bold;
        font-size: 5.1vw;
    }
    
    .popuplist>p{
        font-size: 3.6vw;
        font-weight: 400;
        margin-left: 10%;
        margin-top: 6%;
        width: 65%;
    }
    
    .color_com{
        font-weight: bold;
        font-size: 5.1vw;
        display: flex;
        margin-left: 10%;
        margin-top: 6%;
        align-items: center;
        height: 1vh;
    }
    .wh{
        border: 1px solid black;
        border-radius: 50%;
        width: 5vw;
        height: 5vw;
        background: white;
        margin-left: 5%;
    }
    
    .bl{
        border: 1px solid black;
        border-radius: 50%;
        width: 5vw;
        height: 5vw;
        background: black;
        margin-left: 5%;
    }
    
    .font_com{
        font-weight: bold;
        font-size: 5.1vw;
        display: flex;
        margin-left: 10%;
        margin-top: 6%;
        align-items: center;
    }
    
    .font_com>p{
        margin-left: 5%;
        font-weight: 400;
        font-size: 3.6vw;
    }
    
    .popup_img>img{
        margin: 0 auto;
        display: block;
        border-radius: 10%;
        margin-top: 24%;
    }
    
    .train{
        width: 600%;
        /* border: 1px solid blue; */
        display: flex;
        transition: all 1s ease 0s;
    }
    
    .sal{
        border: 1px solid black;
        border-radius: 50%;
        width: 5vw;
        height: 5vw;
        background: #DAAC70;
        margin-left: 5%;
    }
    
    .pi{
        border: 1px solid black;
        border-radius: 50%;
        width: 5vw;
        height: 5vw;
        background: #DF1371;
        margin-left: 5%;
    }
    
    .blu{
        border: 1px solid black;
        border-radius: 50%;
        width: 5vw;
        height: 5vw;
        background: #345476;
        margin-left: 5%;
    }
    
    .gr{
        border: 1px solid black;
        border-radius: 50%;
        width: 5vw;
        height: 5vw;
        background: #103E20;
        margin-left: 5%;
    }
    
    .ygr{  border: 1px solid black;
        border-radius: 50%;
        width: 5vw;
        height: 5vw;
        background: #8DCAA9;
        margin-left: 5%;
    }
    
    .ye{
        border: 1px solid black;
        border-radius: 50%;
        width: 5vw;
        height: 5vw;
        background: #EEEC78;
        margin-left: 5%;
    }
    
    .pu{
        border: 1px solid black;
        border-radius: 50%;
        width: 5vw;
        height: 5vw;
        background: #8557A3;
        margin-left: 5%;
    }
    
    .ybl{
        border: 1px solid black;
        border-radius: 50%;
        width: 5vw;
        height: 5vw;
        background: #3AA5DC;
        margin-left: 5%;
    }
    
    .buu{
        border: 1px solid black;
        border-radius: 50%;
        width: 5vw;
        height: 5vw;
        background: #342F83;
        margin-left: 5%;
    }
    
    .or{
        border: 1px solid black;
        border-radius: 50%;
        width: 5vw;
        height: 5vw;
        background: #F26B28;
        margin-left: 5%;
    }
    
    .buuu{
        border: 1px solid black;
        border-radius: 50%;
        width: 5vw;
        height: 5vw;
        background: #2F75BA;
        margin-left: 5%;
    }
    
    .nam{
        border: 1px solid black;
        border-radius: 50%;
        width: 5vw;
        height: 5vw;
        background: #0A2744;
        margin-left: 5%;
    }
    
    .zp{
        border: 1px solid black;
        border-radius: 50%;
        width: 5vw;
        height: 5vw;
        background: #934960;
        margin-left: 5%;
    }
    
    .slideview{
        /* border: 1px solid green; */
        overflow: hidden;
        width: 100%;
        float: right;
        /* height: 770%; */
        position: relative;
    }
    
    .popup_btn{
        position: absolute;
        display: flex;
        justify-content: space-between;
        top: 45% ;
        width: 95%;
        /* border: 1px solid red; */
        left: 2.5%;
        display: none;
    }
    
    .popup_btn li{
        background:black;
        padding: 1.2%;
        border-radius: 50%;
    }
    
    

    .popup_btn2{
        position: absolute;
        display: flex;
        justify-content: space-between;
        top: 76vw;
        width: 95%;
        /* border: 1px solid red; */
        left: 2.5%;
    }

    .popup_btn2 li{
        background:black;
        padding: 1.2%;
        border-radius: 50%;
    }
    
    /* 배너 */
    
    .banner{
        background: black;
        color: white;
        /* border: 1px solid red; */
    }
    
    .banner_slide{
        /* border: 1px solid red; */
        position: relative;
        width: 100%;
        overflow: hidden;;
        height: 89vw;
    }
    
    .banner_train{
        /* border: 1px solid blue; */
        display: flex;
        object-fit: cover;
        width: 400%;
        transition: all 1s ease 0s;
    }
    
    .san_a{
        position: relative;
    }
    
    .san{
        width: 100%;
        position: absolute;
        background: white;
        color: black;
        left: 0;
        top: 30vw;
        opacity: 1;
        padding: 5% 0;
        border-radius: 0 0 10px 10px;
    }
    
    .san h2{
        font-size: 5.6vw;
        font-weight: bold;
        margin-bottom: 5%;
        margin-left: 2%;
    }
    
    .san p{
        font-size: 3.6vw;
        font-weight: 400;
        margin-left: 2%;
    }
    
    .banner_color{
        display: flex;
        align-items: center;
        margin-bottom: 3%;
        width: 147%;
        margin-top: 3%;
        margin-left: 2%;
    }
    
    .banner_color h3{
        font-weight: bold;
        font-size: 5vw;
    }
    
    .banner_wh{
        width: 5vw;
        height: 5vw;
        border: 1px solid black;
        background-color: white;
        border-radius: 50%;
        margin-left: 3%;
    }
    
    .banner_a{
        width: 5vw;
        height: 5vw;
        border: 1px solid black;
        background-color: #24B1E7;
        border-radius: 50%;
        margin-left: 3%;
    }
    
    .banner_bl{
        width: 5vw;
        height: 5vw;
        border: 1px solid white;
        background-color: black;
        border-radius: 50%;
        margin-left: 3%;
    }
    
    .banner_red{
        width: 5vw;
        height: 5vw;
        border: 1px solid black;
        background-color: #E9252D;
        border-radius: 50%;
        margin-left: 3%;
    }
    
    .banner_pi{
        width: 5vw;
        height: 5vw;
        border: 1px solid black;
        background-color: #D25F98;
        border-radius: 50%;
        margin-left: 3%;
    }
    
    .banner_nam{
        width: 5vw;
        height: 5vw;
        border: 1px solid black;
        background-color: #26446A;
        border-radius: 50%;
        margin-left: 3%;
    }
    
    
    .banner_ye{
        width: 5vw;
        height: 5vw;
        border: 1px solid black;
        background-color: #F8F07F;
        border-radius: 50%;
        margin-left: 3%;
    }
    
    .banner_b{
        width: 5vw;
        height: 5vw;
        border: 1px solid black;
        background-color: #5067B0;
        border-radius: 50%;
        margin-left: 3%;
    }
    
    .banner_font{
        display: flex;
        align-items: center;
        margin-left: 2%;
    }
    
    .banner_font h3{
        font-weight: bold;
        font-size: 5vw;
    }
    
    .banner_font p{
        font-weight: 400;
        font-size: 3.6vw;
        margin-left: 3%;
    }
    
    .btn{
        position: absolute;
        display: flex;
        justify-content: space-between;
        top: 12vw;
        width: 95%;
        /* border: 1px solid red; */
        left: 2.5%;
    }

    .btn li{
        background: black;
        padding: 1%;
        border-radius: 50%;
    }
    
    .bye{
        opacity: 0;
        pointer-events: none;
    }
    
    
    .banner_train{
        display: flex;
    }
    
    .pagenation{
        /* border: 1px solid red; */
        display: flex;
        width: 20%;
        margin: 0 auto;
        height: 1vh;
        align-items: center;
        padding-bottom: 5%;
        margin-top:1%;
    }
    
    .pagenation>li{
        border: 1px solid black;
        height: 1vw;
        width: 1vw;
        border-radius: 50%;
        margin: 5%;
        background: gray;
    }
    
    .pagenation>.banner_on{
        height: 2vw;
        width: 2vw; 
        background: white;
    }
    
    /* 리디자인 */
    
    .redesign{
        background: black;
        color: white;
    }
    
    .redesign_mockup{
        /* border: 1px solid black ; */
        /* display: flex; */
        width: 75%;
        margin: 0 auto;
        padding-bottom: 40%;
        display: flex;
        flex-wrap: wrap;
    }

    .redesign_mockup div{
        object-fit: cover;
    }
    
    .redesign_title{
        /* border: 1px solid black; */
        /* height: 69.5vh; */
        width: 100%;
        background: white;
        color: black;
        border-radius: 0 0 30px 30px;
        padding: 10% 0;
    }
    
    .redesign_title h2{
        font-size: 8.63vw;
        font-weight: bold;
        /* margin-top: 19%; */
        margin-left: 13%;
    }
    
    .redesign_p{
        font-size: 3.6vw;
        font-weight: 400;
        margin-left: 13%;
        margin-top: 6%
    }
    
    .redesign_color{
        font-weight: bold;
        font-size: 5.1vw;
        display: flex;
        margin-left: 13%;
        margin-top: 6%;
        /* border: 1px solid red; */
        align-items: center;
    }
    
    .redesign_font{
        font-weight: bold;
        font-size: 5.1vw;
        margin-left: 13%;
        margin-top: 6%;
        display: flex;
        align-items: start;
    }
    
    .redesign_font h3{
        line-height: 1.2;
    }
    
    .redesign_font p{
        font-size: 3.6vw;
        font-weight: 400;
    }
    
    .redesign_font div{
        margin-left: 5%;
    }
    
    .view_btn a{
     /* border: 1px solid red; */
    display: block;
    width: 14%;
    margin: 0 auto;
    margin-top: 10%;
    padding: 3% 10%;
    border-radius: 10px ;
    background: black;
    color: white;
    font-weight: bold;
    transition: all 1s ease 0s;
    text-align: center;
    }
    
    .view_btn a:active{
    background-color: white;
    color: black;
    border: 1px solid black;
    transition: all 1s ease 0s;
    }


    /* 리디자인 1번 */
    
    .redesign_a{
        width: 75%;
        margin: 0 auto;
        /* border: 1px solid red; */
        padding-top: 40%;
    }
    
    .redesign_a h2{
        font-weight: bold;
        font-size: 6.68vw;
        margin-bottom: 20%;
    }
    
    .redesign_a p{
        font-weight: 400;
        font-size: 3.6vw;
        margin-bottom: 20%;
    
    }
    
    .redesign_a h3{
        font-weight: bold;
        font-size: 5.1vw;
        margin: 20% 0;
    }
    
    .redesign_test{
        /* display: flex; */
    }
    
    /* .redesign_aa{
        margin-left: 5%;
    } */
    
    /* 리디자인 2번 */
    
    .redesign_b{
        width: 75%;
        margin: 0 auto;
        margin-bottom: 25vh;
        padding-top: 40%;
    }
    .re_b_color{
        display: flex;
        width: 80%;
        align-items: center;
        margin: 0 auto;
    }
    
    .re_b_font{
        display: flex;
        align-items: center;
        width: 80%;
        margin: 0 auto;
    }
    
    .b_p{
        margin-left:5% ;
    }
    
    .redesign_b h2{
        font-weight: bold;
        font-size: 8.68vw;
        margin: 20% 0;
    }
    
    .redesign_b p{
        font-weight: 400;
        font-size: 3.6vw;
    
    }
    
    .redesign_b_color{
        /* display: flex; */
        align-items: center;
        border: 1px solid black;
        border-radius: 30px;
        margin: 20% 0;
        padding-left: 5%;
        padding: 10% 0;
    }
    
    .redesign_b h3{
        font-weight: bold;
        font-size: 5.1vw;
    }
    
    .test2{
        border-right:1px solid red;
        border-top: 1px solid red;
        width: 100px;
        height: 50px;
        margin-left:2% ;
    }
    
    .test3{
        border: 1px solid red;
        border-radius: 50%;
        height: 50px;
        width: 50px;
        color: red;
        margin-left: 20%;
    }
    
    .test4{
        /* display: flex; */
    }
    
    .test4 img{
        display: block;
        margin: 0 auto;
        width: 100%;
    }

    .redesign_bp{
        margin-top: 27%;
    }
    
    .redesign_bp h3 {
        font-weight: bold;
        font-size: 5.1vw;
    }

    .redesign_bp img{
        display: none;
    }
    

    /* 마무리 */
    
    .contact{
        width: 75%;
        margin: 0 auto;
        /* border: 1px solid red; */

    }
    
    .contact p{
        font-weight: 400;
        font-size: 3.6vw;
    }
    
    .contact h1{
        font-weight: bold;
        font-size: 15.7vw;
    }
}